【<%= @post.content %>】へのコメント
<ul id="listWithHandle" class="list-group">
  <% @comments.each do |comment| %>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
      <%= comment.content %>
    </li>
  <% end %>
</ul>

<script>
  var el = document.getElementById('listWithHandle');
  // List with handle
  Sortable.create(el, {
    handle: '.glyphicon-move',
    animation: 150
  });
</script>
