<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<script>
  // List with handle
  Sortable.create(listWithHandle, {
    handle: '.glyphicon-move',
    animation: 150
  });
</script>

    <% @posts.each do |post| %>
      <%# link_to 'Show', post %>
      <%# link_to 'Edit', edit_post_path(post) %>
      <%# link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <div id="listWithHandle" class="list-group">
        <div class="list-group-item">
          <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
          <%= post.content %>
        </div>
      </div>
    <% end %>
<br>

<%= link_to 'New Post', new_post_path %>

